<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ticket">
            <h2><span>Ticket</span> #{{ ticket.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Uuid</span></dt>
                <dd>
                    <span>{{ ticket.uuid }}</span>
                </dd>
                <dt><span>Ticket Url</span></dt>
                <dd>
                    <span>{{ ticket.ticketUrl }}</span>
                </dd>
                <dt><span>Ticket QR</span></dt>
                <dd>
                    <div *ngIf="ticket.ticketQR && qrFileName">
                        <a (click)="downloadFile(ticket.ticketQRContentType,ticket.ticketQR, qrFileName)"
                           class="btn btn-light  btn-sm btn-lg active">
                            <fa-icon icon="download"></fa-icon>&nbsp;<span>Download</span>
                        </a>
                        <a (click)="openFile(ticket.ticketQRContentType,ticket.ticketQR)">
                            <img [src]="qrImagePath" style="max-width: 100%;" alt="ticket image"/>
                        </a>
                        {{ ticket.ticketQRContentType }}, {{ byteSize(ticket.ticketQR) }}
                    </div>
                </dd>
                <dt *ngIf="!ticket.enabled"><span>Ticket File</span></dt>
                <dd>
                    <div *ngIf="ticket.ticketFile">
                        <a (click)="openFile(ticket.ticketFileContentType, ticket.ticketFile)">
                            <img [src]="'data:' + ticket.ticketFileContentType + ';base64,' + ticket.ticketFile"
                                 style="max-width: 100%;" alt="ticket image"/>
                        </a>
                        {{ ticket.ticketFileContentType }}, {{ byteSize(ticket.ticketFile) }}
                    </div>
                </dd>

                <dt><span>Enabled</span></dt>
                <dd>
                    <span>{{ ticket.enabled }}</span>
                </dd>

                <dt><span>Created At</span></dt>
                <dd>
                    <span>{{ ticket.createdAt | date:'medium' }}</span>
                </dd>

                <dt *ngIf="!ticket.enabled"><span>Disabled At</span></dt>
                <dd>
                    <span>{{ ticket.disabledAt | date:'medium' }}</span>
                </dd>

                <dt><span>Ticket Type</span></dt>
                <dd>
                   <div *ngIf="ticket.ticketTypeId && ticketType">
                        <a [routerLink]="['/ticket-type', ticket.ticketTypeId, 'view']">#{{ticketType.id}} {{ticketType.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ticket', ticket.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
