<div>
    <h2 id="page-heading">
        <span>Tickets</span>

        <button [routerLink]="['/ticket/new']" class="btn btn-primary float-right jh-create-entity create-ticket"
                id="jh-create-entity">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Ticket
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="tickets?.length === 0">
        <span>No tickets found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="tickets && tickets.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
                <th scope="col"><span>ID</span></th>
                <th scope="col"><span>Uuid</span></th>
                <th scope="col"><span>Ticket Url</span></th>
                <th scope="col"><span>Enabled</span></th>
                <th scope="col"><span>Created At</span></th>
                <th scope="col"><span>Disabled At</span></th>
                <th scope="col"><span>Ticket Type</span></th>
                <th scope="col"><span>Promo Code</span></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ticket of tickets ;trackBy: trackId">
                <td><a [routerLink]="['/ticket', ticket.id, 'view']">{{ ticket.id }}</a></td>
                <td>{{ ticket.uuid }}</td>
                <td>{{ ticket.ticketUrl }}</td>
                <td>{{ ticket.enabled }}</td>
                <td>{{ ticket.createdAt | date:'medium' }}</td>
                <td>{{ ticket.disabledAt | date:'medium' }}</td>
                <td>
                    <div *ngIf="ticket.ticketTypeId">
                        <a [routerLink]="['/ticket-type', ticket.ticketTypeId , 'view']">
                            {{ ticketTypeDesc(ticket.ticketTypeId) }}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="ticket.promoCodeId">
                        <a [routerLink]="['/promo-code',ticket.promoCodeId  , 'view']">
                            <span>#{{ ticket.promoCodeId }}</span> </a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button [routerLink]="['/ticket', ticket.id, 'view']"
                                class="btn btn-info btn-sm"
                                type="submit">
                            <fa-icon icon="eye"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>


                        <button (click)="regenerateFile(ticket)" class="btn btn-info btn-sm">
                            <fa-icon icon="recycle"></fa-icon>
                            Regenerate
                        </button>

                        <button (click)="downloadFile(ticket)" *ngIf="ticket.ticketFile"
                                class="btn btn-info btn-sm">
                            <fa-icon icon="download"></fa-icon>
                            Download
                        </button>

                        <button (click)="delete(ticket)" class="btn btn-danger btn-sm"
                                type="submit">
                            <fa-icon icon="times"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
