<div>
    <h2 id="page-heading">
        <span>Tickets</span>

        <button [routerLink]="['/ticket/new']" class="btn btn-primary float-right jh-create-entity create-ticket"
                id="jh-create-entity">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Ticket
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>


    <div class="alert alert-warning" id="no-result" *ngIf="tickets?.length === 0 && !isLoading">
        <span>No tickets found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="tickets && tickets.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
                <th scope="col"><span>ID</span></th>
                <th scope="col"><span>Uuid</span></th>
                <th scope="col"><span>Enabled</span></th>
                <th scope="col"><span>Created At</span></th>
                <th scope="col"><span>Disabled At</span></th>
                <th scope="col"><span>Ticket Type</span></th>
                <th scope="col"><span>Ticket price (PLN) paid by guest</span></th>
                <th scope="col"><span>Ticket discount (PLN)</span></th>
                <th scope="col"><span>Full ticket price without discount</span></th>
                <th scope="col"><span>Artist</span></th>
                <th scope="col"><span>Promo Code</span></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)"
                   [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let ticket of tickets ;trackBy: trackId">
                <td><a [routerLink]="['/ticket', ticket.id, 'view']">#{{ ticket.id }}</a></td>
                <td>{{ ticket.uuid }}</td>
                <td>
                    <span
                        [ngClass]="{'badge': true, 'badge-success': ticket.enabled, 'badge-warning': !ticket.enabled}">
                        {{ticket.enabled }}</span>
                </td>
                <td>{{ ticket.createdAt | date:'medium' }}</td>
                <td>{{ ticket.disabledAt | date:'medium' }}</td>
                <td>
                    <div *ngIf="ticket.ticketTypeId">
                        <a [routerLink]="['/ticket-type', ticket.ticketTypeId , 'view']">
                            {{ ticketTypeDesc(ticket.ticketTypeId) }}</a>
                    </div>
                </td>
                <td>{{ticket.ticketPrice == null? "0" : ticket.ticketPrice}} zł</td>
                <td>{{ticket.ticketDiscount == null? "0" : ticket.ticketDiscount}} zł</td>
                <td>{{(ticket.ticketPrice ? ticket.ticketPrice : 0) + (ticket.ticketDiscount ? ticket.ticketDiscount :
                    0)}} zł
                </td>
                <td>
                    <span *ngIf="ticket.artistName">
                        {{ticket.artistName}}
                    </span>
                    <span *ngIf="!ticket.artistName">-</span>
                </td>
                <td>
                    <div *ngIf="ticket.promoCodeId">
                        <a [routerLink]="['/promo-code',ticket.promoCodeId, 'view']">
                            <span>{{promoCodeText(ticket.promoCodeId) }}</span> </a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group btn-sm" role="group">
                        <button [routerLink]="['/ticket', ticket.id, 'view']"
                                class="btn btn-info btn-sm"
                                type="submit">
                            <fa-icon icon="eye"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>

                        <button (click)="downloadFile(ticket)" class="btn btn-info btn-sm">
                            <fa-icon icon="download"></fa-icon>
                            Download
                        </button>
                    </div>

                    <div ngbDropdown>
                        <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle type="button">Actions</button>
                        <div ngbDropdownMenu>
                            <button (click)="regenerateFile(ticket)"
                                    class="btn btn-info btn-sm" ngbDropdownItem>
                                <fa-icon icon="recycle"></fa-icon>
                                Regenerate
                            </button>

                            <div class="dropdown-divider"></div>

                            <button (click)="disable(ticket)" *ngIf="!ticket.disabledAt" class="dropdown-item"
                                    ngbDropdownItem type="submit">
                                <fa-icon icon="archive"></fa-icon>
                                <span class="d-none d-md-inline">Disable</span>
                            </button>

                            <button (click)="enable(ticket)" *ngIf="ticket.disabledAt" class="dropdown-item"
                                    ngbDropdownItem type="submit">
                                <span class="d-none d-md-inline">Enable</span>
                            </button>

                            <button (click)="delete(ticket)" class="dropdown-item"
                                    ngbDropdownItem type="submit">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </div>

                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="isLoading">
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status" style="width: 5rem; height: 5rem;">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
</div>
