<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ticket">
            <h2><span>Ticket</span> {{ ticket.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Uuid</span></dt>
                <dd>
                    <span>{{ ticket.uuid }}</span>
                </dd>
                <dt><span>Ticket Url</span></dt>
                <dd>
                    <span>{{ ticket.ticketUrl }}</span>
                </dd>
                <div *ngIf="ticket.enabled">
                    <dt><span>Ticket QR</span></dt>
                    <dd>
                        <!--           <div *ngIf="ticket.ticketQR && qrFileName">
                                       <a (click)="downloadFile(ticket.ticketQRContentType,ticket.ticketQR, qrFileName)"
                                          class="btn btn-light  btn-sm btn-lg active">
                                           <fa-icon icon="download"></fa-icon>&nbsp;<span>Download</span>
                                       </a>
                                       <a (click)="openFile(ticket.ticketQRContentType,ticket.ticketQR)">
                                           <img [src]="qrImagePath" style="max-width: 100%;" alt="ticket image"/>
                                       </a>
                                       {{ ticket.ticketQRContentType }}, {{ byteSize(ticket.ticketQR) }}
                                   </div>-->
                        <div *ngIf="qrImagePath">
                            <a (click)="openQrFile()">
                                <img [src]="qrImagePath" alt="ticket image" style="max-width: 50%;"/>
                            </a>

                            <br/>
                        </div>
                    </dd>
                    <dt><span>Ticket File</span></dt>
                    <dd>
                        <div *ngIf="ticketImagePath">
                            <a (click)="openTicketFile()">
                                <!--                            TODO: OPEN AS FILE WITH NAME-->
                                Click to download
                            </a>
                        </div>
                    </dd>
                </div>
                <dt><span>Enabled</span></dt>
                <dd>
                    <span>{{ ticket.enabled }}</span>
                </dd>
                <dt><span>Created At</span></dt>
                <dd>
                    <span>{{ ticket.createdAt }}</span>
                </dd>

                <dt *ngIf="!ticket.enabled"><span>Disabled At</span></dt>
                <dd>
                    <span>{{ ticket.disabledAt | date:'medium' }}</span>
                </dd>
                <dt><span>Ticket Type</span></dt>
                <dd>
                    <div *ngIf="ticketType && ticket.ticketTypeId">
                        <a [routerLink]="['/ticket-type', ticket.ticketTypeId, 'view']">#{{ticketType.id}}
                            {{ticketType.name}}</a>
                    </div>
                </dd>
                <dt><span>Promo Code</span></dt>
                <dd>
                    <div *ngIf="ticket.promoCodeId">
                        <a [routerLink]="['/promo-code', ticket.promoCodeId, 'view']">{{ ticket.promoCodeId }}</a>
                    </div>
                </dd>
                <dt><span>Price (zł)</span></dt>
                <dd>
                    {{ticket.ticketPrice}}
                </dd>
                <dt><span>Order id</span></dt>
                <dd>
                    {{ticket.orderId}}
                </dd>

                <dt><span>Guest</span></dt>
                <dd>
                    <div *ngIf="ticket.guestId && guest">
                        <a [routerLink]="['/guest', ticket.guestId, 'view']">#{{ ticket.guestId }} {{guest.name}}
                            {{guest.lastName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>
        </div>
    </div>
</div>
