<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="isSaving">
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status" style="width: 5rem; height: 5rem;">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>

        <form (ngSubmit)="save()" *ngIf="!isSaving" [formGroup]="editForm" name="editForm" novalidate role="form">
            <h2 id="jhi-ticket-heading">Create a Ticket</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="card">
                    <div class="card-body">
                        <h4>Select guest</h4>

                        <div class="row">
                            <div class="col">
                                <div *ngIf="guests" class="form-group">
                                    <label class="form-control-label" for="field_guestId">Guest</label>
                                    <select class="form-control" formControlName="guestId" id="field_guestId"
                                            name="guestId">
                                        <option [ngValue]="null"></option>
                                        <option *ngFor="let g of guests; trackBy: trackById"
                                                [ngValue]="g.id">{{guestDetails(g)}}
                                        </option>
                                    </select>
                                    <label class="form-check-label" for="field_orderId">Select from dropdown to assing
                                        already registered guest to new ticket</label>
                                </div>
                            </div>

                        </div>

                        <hr/>

                        <h4>Or register a new guest</h4>
                        <div class="row">
                            <div class="col">
                                <input aria-label="First name" class="form-control"
                                       id="field_newGuest.name"
                                       name="newGuest[name]"
                                       placeholder="First name" type="text">
                            </div>
                            <div class="col">
                                <input aria-label="Last name" class="form-control"
                                       id="field_newGuest.lastName"
                                       name="newGuest[lastName]"
                                       placeholder="Last name" type="text">
                            </div>
                            <div class="col">
                                <input aria-label="Last name" class="form-control"
                                       id="field_newGuest.email"
                                       name="newGuest[email]"
                                       placeholder="Email" type="email" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <br/>

                <div class="card">
                    <div class="card-body">
                        <div *ngIf="ticketTypes" class="form-group">
                            <label class="form-control-label" for="field_ticketType">Ticket Type*</label>
                            <select class="form-control" formControlName="ticketTypeId" id="field_ticketType"
                                    name="ticketType">
                                <option [ngValue]="null"></option>
                                <option *ngFor="let ticketTypeOption of ticketTypes; trackBy: trackById"
                                        [ngValue]="ticketTypeOption.id">
                                    #{{ ticketTypeOption.id }} {{ ticketTypeOption?.name }}
                                </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" for="field_orderId">Order Id*</label>
                            <input class="form-control" formControlName="orderId" id="field_orderId" name="orderId"
                                   type="text"/>
                            <label class="form-check-label" for="field_orderId">Any value for order
                                identification</label>
                            <div
                                *ngIf="editForm.get('orderId')!.invalid && (editForm.get('orderId')!.dirty || editForm.get('orderId')!.touched)">
                                <small *ngIf="editForm.get('orderId')?.errors?.required"
                                       class="form-text text-danger">
                                    This field is required.
                                </small>
                            </div>
                        </div>

                        <br/>

                        <div class="form-group">
                            <label class="form-control-label" for="field_ticketPrice">Ticket price (zł)*</label>
                            <input class="form-control" formControlName="ticketPrice" id="field_ticketPrice"
                                   name="ticketPrice"
                                   type="number"/>
                            <label class="form-check-label" for="field_ticketPrice">-1 if uknown</label>
                            <div
                                *ngIf="editForm.get('ticketPrice')!.invalid && (editForm.get('ticketPrice')!.dirty || editForm.get('ticketPrice')!.touched)">
                                <small *ngIf="editForm.get('ticketPrice')?.errors?.required"
                                       class="form-text text-danger">
                                    This field is required.
                                </small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" for="field_ticketDiscount">Ticket discount (zł)*</label>
                            <input class="form-control" formControlName="ticketDiscount" id="field_ticketDiscount"
                                   name="ticketDiscount"
                                   type="number" value="0"/>
                            <div
                                *ngIf="editForm.get('ticketDiscount')!.invalid && (editForm.get('ticketDiscount')!.dirty || editForm.get('ticketDiscount')!.touched)">
                                <small *ngIf="editForm.get('ticketDiscount')?.errors?.required"
                                       class="form-text text-danger">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>

                <br/>

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <mat-radio-group
                                    (change)="changedSelectedSource()" [(ngModel)]="selectedSource" required="true">
                                    <mat-radio-button value="promotor">
                                        Promotor
                                    </mat-radio-button>
                                    <mat-radio-button value="artist">
                                        Artist
                                    </mat-radio-button>
                                </mat-radio-group>
                                <div>Your favorite season is: {{selectedSource}}</div>
                            </div>
                        </div>

                        <hr/>

                        <div *ngIf="selectedSource">
                            <!--                        todo wybór między promotorem a artystą (pole wybieralne-->
                            <div *ngIf="promotors" class="form-group">
                                <label class="form-control-label" for="field_promotorId">Promotor</label>
                                <select class="form-control" formControlName="promotorId" id="field_promotorId"
                                        name="promotorId">
                                    <option [ngValue]="null"></option>
                                    <option *ngFor="let p of promotors; let i = index" [ngValue]="p.id">
                                        #{{ p.id }} {{p.name}} {{p.lastName}}
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <!--                            todo update when promotor is changed-->
                                <label class="form-control-label" for="field_promoCode">Promo Code</label>
                                <select class="form-control" formControlName="promoCodeId" id="field_promoCode"
                                        name="promoCode">
                                    <option [ngValue]="null"></option>
                                    <option *ngFor="let promoCodeOption of promoCodes; let i = index"
                                            [ngValue]="promoCodeOption.id">
                                        {{ promoCodeOption.id }} "{{ promoCodeOption.code }}"
                                    </option>
                                </select>
                            </div>

                        </div>
                        <div *ngIf="!selectedSource">
                            <div class="form-group">
                                <label class="form-control-label" for="field_artistName">Artist name</label>
                                <input class="form-control" formControlName="orderId" id="field_artistName"
                                       name="orderId"
                                       type="text"/>
                                <label class="form-check-label" for="field_artistName">Artist name who sold ticket
                                    (optional)</label>
                                <div
                                    *ngIf="editForm.get('artistName')!.invalid && (editForm.get('artistName')!.dirty || editForm.get('artistName')!.touched)">
                                    <small *ngIf="editForm.get('artistName')?.errors?.required"
                                           class="form-text text-danger">
                                        This field is required.
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <button (click)="previousState()" class="btn btn-secondary" id="cancel-save" type="button">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button [disabled]="editForm.invalid || isSaving" class="btn btn-primary" id="save-entity"
                        type="submit">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
