<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="guest">
            <h2><span>Gość </span> "{{guest.name}} {{guest.lastName}}"</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Id</span></dt>
                <dd>
                    <span>{{ guest.id }}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ guest.name }}</span>
                </dd>
                <dt><span>Last Name</span></dt>
                <dd>
                    <span>{{ guest.lastName }}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{ guest.email }}</span>
                </dd>
                <dt><span>Phone Number</span></dt>
                <dd>
                    <span>{{ guest.phoneNumber }}</span>
                </dd>
                <dt><span>Notes</span></dt>
                <dd>
                    <span>{{ guest.notes }}</span>
                </dd>
                <dt><span>Created At</span></dt>
                <dd>
                    <span>{{ guest.createdAt }}</span>
                </dd>
                <dt><span>Enabled</span></dt>
                <dd>
                    <span>{{ guest.enabled }}</span>
                </dd>
                <dt><span>Tickets</span></dt>
                <dd>
                    <ul *ngIf="tickets">
                        <li *ngFor="let ticket of tickets">
                            <a [routerLink]="['/ticket',ticket.id, 'view']">
                                #{{ ticket.id }}
                            </a>
                            <button (click)="downloadFile(ticket)" *ngIf="ticket.ticketFile" class="btn-link btn">
                                <fa-icon icon="download"></fa-icon>
                                Download
                            </button>
                        </li>
                    </ul>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/guest', guest.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
