<!--<script src="../../../shared/model/import-order.model.ts"></script>-->
<div class="row justify-content-center">
    <div class="col-8">
        <!-- (ngSubmit)="save()" [formGroup]="editForm"-->
        <form name="importForm" role="form" novalidate (ngSubmit)="importOrders()" [formGroup]="editForm">
            <h2 id="jhi-country-heading">Import orders</h2>

            <mat-form-field>
                <div>
                    <mat-toolbar>
                        <!-- Display files names -->
                        <input matInput readonly name="fileName" value="{{fileAttr}}"/>

                        <!-- Browse Button -->
                        <button mat-flat-button color="primary">Browse File</button>
                    </mat-toolbar>

                    <!-- Fetch selected filed on change -->
                    <input
                        type="file"
                        #fileInput
                        (change)="uploadFileEvt($event)"
                        id="uploadFile"
                        name="uploadFile"
                        accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                    />

                    <div
                        *ngIf="editForm.get('uploadFile')!.invalid && (editForm.get('uploadFile')!.dirty || editForm.get('uploadFile')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('uploadFile')?.errors?.required">
                            This field is required.
                        </small>
                    </div>
                </div>
            </mat-form-field>

            <div>
                <button type="submit" id="import" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="file-import"></fa-icon>&nbsp;<span>Import</span>
                </button>
            </div>
        </form>

        <hr/>

        <div class="container" *ngIf="importResults">
            <div>
                Zaimportowano: {{importResults.imported}}<br/>
                Błędnych rekordów: {{importResults.failed}}<br/>

                <ul *ngIf="importResults.errors">
                    <li *ngFor="let e of importResults.errors; let i = index">
                        <pre>{{e}}</pre>
                    </li>
                </ul>

                <hr/>

                <div *ngFor="let result of importResults.results; let i = index" class="card-group">
                    <jhi-import-order-result [importResult]="result"></jhi-import-order-result>
                </div>
            </div>
        </div>
    </div>
</div>
