.jumbo-bg-not-found {
  background-color: #d9831f !important;
}

.jumbo-bg-ok {
  background-color: #28a745 !important;
}

.jumbo-bg-error {
  background-color: #dc3545 !important;
}

.jumbo-bg-already-validated {
  background-color: #d9831f !important;
}
