<div>
    <mat-form-field appearance="fill">
        <mat-label>Enter, command, tab to add a new code</mat-label>
        <mat-chip-list #chipList>
            <mat-chip *ngFor="let code of promoCodes" (removed)="remove(code)">
                {{code}}
                <button matChipRemove>
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-chip>
            <input placeholder="Kod promocyjny..."
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="addOnBlur"
                   (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
    </mat-form-field>
    <label class="form-check-label">Press enter, space, tab or comma to confirm a new promo code.</label>


    <div *ngIf="promoCodeError">
        <mat-error [id]="promoCodeError">{{promoCodeError}}</mat-error>
    </div>
</div>
